@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --primary: #000000;
  --secondary: #cfcaa4;
  --tertiary: #000000;
  --light: #e4d1d1;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background-image: url("./assets/LoginBackground.jpeg");
  background-size: cover;
  /* background-attachment: fixed; */
  margin: 0;
  padding: 0;
  font-family: "roboto";
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.verification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0.9;
  background-image: url("./assets/VerificationBackground.jpeg");
  background-size: cover;
  background-position: center;
}

.verification-box {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

@media (max-width: 768px) {
  input {
    width: 70%;
  }
  button {
    width: 50%;
  }
}

header {
  background: var(--primary);
  font-family: Georgia, "Times New Roman", Times, serif;
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}
.categories button {
  color: rgb(246, 243, 243);
  background-color: var(--primary);
  font-weight: bold;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.page-container {
  background-color: #f5f9f7;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

.detail-container {
  max-width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30px 100px;
}
.detail-container img {
  height: auto;
  max-width: 75%;
}

.detail-form-container {
  background-image: url("./assets/VerificationBackground.jpeg");
  background-position: top center;
  /* background-size: cover; */
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  margin: 130px 100px 50px 50px;
  padding: 30px 30px 30px 30px;
  justify-content: center;
}
.detail-form-container form {
  background-color: white;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 50px 50px 50px 70px;
  padding: 30px;
  opacity: 0.75;
  font-size: 17px;
}
.detail-form-container h3 {
  font-weight: 700;
  margin: 10px 10px 10px 0;
}
.detail-form-container textarea {
  height: 200px;
  margin: 10px 10px 10px 0;
}
.detail-form-container select {
  margin: 0px 0px 10px 10px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.space-between {
  justify-content: space-between;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
  list-style: none;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

/* .my-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("./assets/LoginBackground.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
} */

.my-1 img {
  width: 400px;
  height: auto;
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-1 img {
  width: 200px;
  height: auto;
  box-shadow: 0 0 10px 2px #d25050;
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  margin: 1px;
  border-color: #000000;
  width: 19%;
  text-align: center;
  background-color: #ccc;
  background: rgba(239, 172, 172, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}

.card p {
  font-size: 10px;
  margin: 10px auto;
  max-width: 330px;
}

.error-text {
  color: var(--error);
}

.logo {
  cursor: pointer;
  font-size: 40px;
  color: #060606;
  display: inline-block;
}

.logo:hover {
  color: #e08b6f;
  opacity: 0.5;
  transition: 0.5s ease;
}

footer {
  background: #2a2e2f;
  font-weight: bold;
  width: 100%;
  height: 6rem;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h2 {
  color: #f5f9f7;
  font-size: 15px;
  margin: 0;
}
.justify-content-center {
  justify-content: center;

  /* This is the CSS code for the carousel */
}
.carousel-item {
  height: 35rem;
  background-color: rgb(10, 10, 10);
  color: white;
  position: relative;
  background-size: cover;
  background-position: center;
}
.main-carousel-item {
  height: 51rem;
}
.overlay-image {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  top: 0;
  opacity: 0.3;
  background-size: cover;
  background-position: center;
}
.main-page-container {
  left: 500px;
  padding-bottom: 200px;
  text-align: center;
}

.lastcomment {
  margin-top: 10px;
  padding-top: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container-lastrating {
  margin-top: 40px;
}

.lastcomment {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
