.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: rgba(178, 176, 176, 0.9);
  overflow: auto;
  padding: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.5rem;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 2%;
  right: 1%;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 0.25rem;
  width: 60px;
  height: 60px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 0.5rem 1rem 0;
}

@media screen and (max-width: 768px) {
  .cart {
    position: fixed;
    max-width: 50%;
    max-height: auto;
    box-shadow: none;
    background-color: white;
  }

  .cart-closed {
    position: fixed;
    margin: 0 auto;
    background-color: white;
  }
}
